# SPDX-License-Identifier: BSD-3-Clause
# SPDX-FileCopyrightText: 2025 Erlang Ecosystem Foundation

on:
  workflow_call: {}

name: "Test"

permissions:
  contents: read

jobs:
  detectToolVersions:
    name: "Detect Tool Versions"

    runs-on: ubuntu-latest

    outputs:
      otpVersion: "${{ steps.toolVersions.outputs.OTP_VERSION }}"
      elixirVersion: "${{ steps.toolVersions.outputs.ELIXIR_VERSION }}"

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: "Read .tool-versions"
        id: toolVersions
        run: |
          OTP_VERSION="$(cat .tool-versions | grep erlang | cut -d' ' -f2-)"
          echo OTP: $OTP_VERSION
          echo "OTP_VERSION=${OTP_VERSION}" >> $GITHUB_OUTPUT

          ELIXIR_VERSION="$(cat .tool-versions | grep elixir | cut -d' ' -f2-)"
          echo Elixir: $ELIXIR_VERSION
          echo "ELIXIR_VERSION=${ELIXIR_VERSION}" >> $GITHUB_OUTPUT

  format:
    name: Check Formatting

    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: ./.github/actions/setup-runtime-env

      - run: mix format --check-formatted

  test:
    name: mix test (${{ matrix.name }})

    needs: ["detectToolVersions"]

    runs-on: ${{ matrix.runs-on }}

    strategy:
      fail-fast: false
      matrix:
        include:
          # Lowest Supported
          - otp: "26.0"
            elixir: "1.16.2"
            name: "lowest"
            runs-on: ubuntu-latest
            unstable: false
          # Latest Supported
          - otp: "${{ needs.detectToolVersions.outputs.otpVersion }}"
            elixir: "${{ needs.detectToolVersions.outputs.elixirVersion }}"
            name: "latest"
            runs-on: ubuntu-latest
            unstable: false
          # Test Main
          - otp: "${{ needs.detectToolVersions.outputs.otpVersion }}"
            elixir: "main"
            name: "main"
            runs-on: ubuntu-latest
            unstable: true

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: ./.github/actions/setup-runtime-env
        with:
          mix-env: test
          otp-version: ${{ matrix.otp }}
          elixir-version: ${{ matrix.elixir }}

      - name: "Install Test OS Dependencies"
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          echo "PATH=$PATH" >> "$GITHUB_ENV"
          brew tap cyclonedx/cyclonedx
          brew install cyclonedx/cyclonedx/cyclonedx-cli

      - run: mix coveralls.lcov --exclude property
        continue-on-error: ${{ matrix.unstable }}

      - name: Send Coverage to Coveralls
        if: always()
        uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # v2.3.7
        with:
          flag-name: "${{ matrix.name }}"
          parallel: true

  property_test:
    name: mix test_property

    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: ./.github/actions/setup-runtime-env
        with:
          mix-env: test

      - name: "Install Test OS Dependencies"
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          echo "PATH=$PATH" >> "$GITHUB_ENV"
          brew tap cyclonedx/cyclonedx
          brew install cyclonedx/cyclonedx/cyclonedx-cli

      - run: |
          mix coveralls.lcov \
            --exclude test \
            --include property \
            --timeout 600000

      - name: Send Coverage to Coveralls
        if: always()
        uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # v2.3.7
        with:
          flag-name: "property"
          parallel: true

  finish_coverage:
    name: Finish Coveralls Report

    needs: ["test", "property_test"]

    if: ${{ always() }}

    runs-on: ubuntu-latest

    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # v2.3.7
      with:
        parallel-finished: true
        carryforward: "lowest,latest,main,property"

  credo:
    name: Check Credo

    runs-on: ubuntu-latest

    permissions:
      contents: read
      security-events: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: ./.github/actions/setup-runtime-env

      - run: mix credo --format sarif > results.sarif
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@19b2f06db2b6f5108140aeb04014ef02b648f789 # v4.31.11
        with:
          sarif_file: results.sarif
          category: credo

  dialyzer:
    name: "Check Dialyzer"

    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: ./.github/actions/setup-runtime-env

      - run: mix dialyzer
