# SPDX-License-Identifier: BSD-3-Clause
# SPDX-FileCopyrightText: 2025 Erlang Ecosystem Foundation

on:
  workflow_call:
    inputs:
      attest:
        description: "Attest the build"
        default: true
        type: boolean

name: "Build"

permissions:
  contents: read

jobs:
  detectToolVersions:
    name: "Detect Tool Versions"

    runs-on: ubuntu-latest

    outputs:
      zigVersion: "${{ steps.toolVersions.outputs.ZIG_VERSION }}"

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: "Read .tool-versions"
        id: toolVersions
        run: |
          ZIG_VERSION="$(cat .tool-versions | grep zig | cut -d' ' -f2-)"
          echo Zig: $ZIG_VERSION
          echo "ZIG_VERSION=${ZIG_VERSION}" >> $GITHUB_OUTPUT

  escript:
    name: "EScript"

    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read
      attestations: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true

      - uses: ./.github/actions/setup-runtime-env
        with:
          mix-env: prod

      - name: "Build EScript"
        run: mix escript.build
      
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: escript
          path: "mix_sbom"

  binary:
    name: "Binary"

    runs-on: ubuntu-latest

    needs: ['detectToolVersions']

    permissions:
      id-token: write
      contents: read
      attestations: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: mlugg/setup-zig@e7d1537c378b83b8049f65dda471d87a2f7b2df2 # v2.2.0
        with:
          version: "${{ needs.detectToolVersions.outputs.zigVersion }}"

      - run: sudo apt-get install -y xz-utils

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true

      - uses: ./.github/actions/setup-runtime-env
        with:
          mix-env: prod
          enable-burrito: "true"

      - run: mix release --overwrite
      - name: "Attest provenance"
        uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
        id: attest-provenance
        if: "${{ inputs.attest }}"
        with:
          subject-path: 'burrito_out/mix_sbom*'
      - name: "Copy provenance"
        if: "${{ inputs.attest }}"
        run: |-
          for FILE in burrito_out/mix_sbom*; do
            cp "$ATTESTATION" $FILE.sigstore
          done
        env:
          ATTESTATION: "${{ steps.attest-provenance.outputs.bundle-path }}"
      
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: binary
          path: burrito_out/*
