# SPDX-License-Identifier: BSD-3-Clause
# SPDX-FileCopyrightText: 2025 Erlang Ecosystem Foundation

on:
  workflow_call:
    inputs:
      attest:
        description: "Attest the SBoM"
        default: true
        type: boolean

name: "Licensing"

permissions:
  contents: read

jobs:
  sbom:
    name: "Generate SBoM"

    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read
      attestations: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true

      - name: Use HTTPS instead of SSH for Git cloning
        run: git config --global url.https://github.com/.insteadOf ssh://git@github.com/

      - name: Run OSS Review Toolkit
        id: ort
        uses: oss-review-toolkit/ort-ci-github-action@1805edcf1f4f55f35ae6e4d2d9795ccfb29b6021 # v1.1.0
        with:
          image: ghcr.io/oss-review-toolkit/ort:80.0.0
          run: >-
            labels,
            cache-dependencies,
            cache-scan-results,
            analyzer,
            scanner,
            advisor,
            reporter
          report-formats: "CycloneDx,SpdxDocument,WebApp"
          # TODO: Remove workaround once https://github.com/oss-review-toolkit/ort/pull/11324 is merged
          ort-cli-args: >-
            -P ort.analyzer.skipExcluded=true
            -P ort.scanner.scanners.ScanCode.options.commandLine=--copyright,--license,--info,--strip-root
            -P ort.scanner.scanners.ScanCode.options.commandLineNonConfig=--timeout,300
          ort-cli-report-args: >-
            -O CycloneDX=output.file.formats=json,xml
            -O SpdxDocument=outputFileFormats=JSON,YAML
          sw-version: "${{ github.ref_type == 'tag' && github.ref_name || github.sha }}"

      - name: "Rename SBOMs"
        run: |
          cp "$CYCLONEDX_XML" sbom.cdx.xml
          cp "$CYCLONEDX_JSON" sbom.cdx.json
          cp "$SPDX_YML" sbom.spdx.yml
          cp "$SPDX_JSON" sbom.spdx.json
        env:
          CYCLONEDX_XML: "${{ steps.ort.outputs.results-sbom-cyclonedx-xml-path }}"
          CYCLONEDX_JSON: "${{ steps.ort.outputs.results-sbom-cyclonedx-json-path }}"
          SPDX_YML: "${{ steps.ort.outputs.results-sbom-spdx-yml-path }}"
          SPDX_JSON: "${{ steps.ort.outputs.results-sbom-spdx-json-path }}"

      - name: "Attest provenance"
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
        id: attest-provenance
        if: "${{ inputs.attest }}"
        with:
          subject-path: |
            sbom.cdx.xml
            sbom.cdx.json
            sbom.spdx.yml
            sbom.spdx.json

      - name: "Copy provenance"
        if: "${{ inputs.attest }}"
        run: |
          cp "$ATTESTATION" sbom.cdx.xml.sigstore
          cp "$ATTESTATION" sbom.cdx.json.sigstore
          cp "$ATTESTATION" sbom.spdx.yml.sigstore
          cp "$ATTESTATION" sbom.spdx.json.sigstore
        env:
          ATTESTATION: "${{ steps.attest-provenance.outputs.bundle-path }}"

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: sbom
          path: |
            sbom.cdx.xml
            sbom.cdx.json
            sbom.spdx.yml
            sbom.spdx.json
            sbom.*.sigstore

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: sbom_report
          path: ${{ steps.ort.outputs.results-path }}/scan-report-web-app.html

  check:
    name: "Check REUSE Licensing Compliance"

    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: REUSE Check
        uses: fsfe/reuse-action@676e2d560c9a403aa252096d99fcab3e1132b0f5 # v6.0.0